[[source]]
url = "http://kassia.local/neurolive/simple"
verify_ssl = false
name = "kassia"

[packages]
pylsltools = {ref = "main", git = "git+http://kassia.local/neurolive/pylsl-tools"}

[requires]
python_version = "3.11"
